<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Octograde - Create Test</title>
        
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

        <!-- Vendor CSS -->
        <link href="/css/fullcalendar.min.css" rel="stylesheet">
        <link href="/css/animate.min.css" rel="stylesheet">
        <link href="/css/sweet-alert.css" rel="stylesheet">
        <link href="/css/material-design-iconic-font.min.css" rel="stylesheet">
        
        
        
            
        <!-- CSS -->
        <link href="/css/octograde1.css" rel="stylesheet">
        <link href="/css/octograde2.css" rel="stylesheet">
        
        <link href="/css/summernote.css" rel="stylesheet">
        
        
    </head>
    
    <body>
        <header id="header">
            
        	<div class="header-centered" style="margin-left:10%;">
            <ul class="header-inner">
            
                <li class="logo hidden-xs">
                    <a>Octograde</a>
                </li>
                <div id="navbar" class="collapse navbar-collapse">
          			<ul class="nav navbar-nav">
            			<li><a href="../Dash2/TeacherDash2.html">Dash</a></li>
            			<li class="active"><a href="#">Create Test</a></li>
          			</ul>
        		</div><!--/.nav-collapse -->
                
            </ul>
            </div><!-- centered -->
            
            <!-- Top Search Content -->
            <div id="top-search-wrap">
                <input type="text">
                <i id="top-search-close">&times;</i>
            </div>
        </header>
        
        <section id="main">
            
            <section id="content">
                <div class="container">
                    
					<div class="jumbotron" style="box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);">
						<h1>Create a test!</h1>
						<p>Make a test quickly and easily. Create your own personalized questions with the free input.</p>
						<p>Have any questions?</p>
					</div>
					
                    
                    
                    <div class="card">
                    	
                    	<div class="card-header">
                            <h2>Test Settings</h2>
                        </div>
                    	
                    	<div class="card-body card-padding">
						
							<div class="form-group">
								<div class="fg-line">
									<input type="text" class="form-control input" placeholder="Test Name">
								</div>
							</div>
							
							<div class="form-group">
								<div class="fg-line">
									<input type="text" class="form-control input" placeholder="Test Description">
								</div>
							</div>
							
							<div class="form-group">
								<div class="fg-line">
									<input type="text" class="form-control input" placeholder="Test Duration">
								</div>
							</div>	
						
						</div>
						
                    </div>
                    
                    
                    <div class="card">
                    	
                    	<div class="card-header">
                    
                    		<h2>Question 1</h2>
                    
                    	</div>
                    	
                    	<div class="card-body card-padding">
                    	
                    		<div class="html-editor"></div>
                    		
							
							<select class="selectpicker">
								<option value="hide"> - Correct Answer - </option>
								<option rel="icon-temperature">A</option>
								<option rel="icon-temperature">B</option>
								<option rel="icon-temperature">C</option>
								<option rel="icon-temperature">D</option>
							</select> 
                    		
                    		<div class="form-group">
								<div class="fg-line">
									<input type="text" class="form-control input" placeholder="Answer A">
								</div>
							</div>
							
							<div class="form-group">
								<div class="fg-line">
									<input type="text" class="form-control input" placeholder="Answer B">
								</div>
							</div>
							
							<div class="form-group">
								<div class="fg-line">
									<input type="text" class="form-control input" placeholder="Answer C">
								</div>
							</div>	
                    		
                    		<div class="form-group">
								<div class="fg-line">
									<input type="text" class="form-control input" placeholder="Answer C">
								</div>
							</div>	
							
							<div>
								<button class="btn btn-default btn-icon-text">Add Answer <i class="zmdi zmdi-plus"></i></button>
							</div>
                    	                    		
                    	</div>
                    
                    </div>
                    
                    
                    
                    <button style="margin-left: calc(50% - 100px); width: 200px;" class="btn btn-default btn-icon-text">Finish <i class="zmdi zmdi-arrow-forward"></i></button>
                    
                  
                </div>
            </section>
        </section>
        
        <footer id="footer">
            Copyright &copy; 2015 Octograde
            
            <ul class="f-menu">
                <li><a href="">Home</a></li>
                <!--<li><a href="">Help</a></li>
                <li><a href="">Reports</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Contact</a></li>-->
            </ul>
        </footer>
        


        <!-- Javascript Libraries -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        
        <script src="/js/moment.min.js"></script>
        <script src="/js/fullcalendar.min.js "></script>
        <script src="/js/bootstrap-growl.min.js"></script>
        <script src="/js/functions.js"></script>
        
        <script src="/js/summernote.min.js"></script>

        
    </body>
  </html>
