<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- #2475c2  offset.top  The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id" content="435767662604-ocjd4hhsm4cbc2gplhmm47odt9pv277d.apps.googleusercontent.com">
    <link rel="icon" type="image/png" href="/images/favicon2.png">
    <title>Octograde</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/cover2.css" rel="stylesheet">
    <script>
		$(document).ready(function(){       
		   var scroll_start = 0;
		   var startchange = $('.blackback');
		   var offset = startchange.offset();
		   $(document).scroll(function() { 
			  scroll_start = $(this).scrollTop();
			  if(scroll_start > 519) {
				  $('.blackback').css('background-color','#fff');
				  $('.blackback').css('box-shadow','0 1px 1px rgba(0, 0, 0, .1)');
				  $('.blackback').css('color','#666');
				  $('#navSign a').css('color','#666');
				  $('#navSign a').css('border-bottom','2px solid #666');
			   } else {
				  $('.blackback').css('background-color','transparent');
				  $('.blackback').css('box-shadow','0 0 0 rgba(0, 0, 0, 0)');
				  $('.blackback').css('color','#fff');
				  $('#navSign a').css('color','#fff');
				  $('#navSign a').css('border-bottom','2px solid #fff');
			   }
		   });
		});
  	</script>

	<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("fbe1500f67d360fdb95c6be1cb1c1bdd");</script><!-- end Mixpanel -->

  </head>

  <body>

   

			<div class="blackback">
			  <div class="cover-container">
			  	<div class="masthead clearfix">
					<div class="innerF">
					  <h3 class="masthead-brand">Octograde</h3>
					  <nav>
					  	<ul class="nav masthead-nav">
						  <li id="navSign" class="navSign active"><a href="#SignUp">Sign Up</a></li>
						</ul>
					  </nav>
					</div>
			  	</div>
			  </div>
			</div>
			
			<div class="topSec">

				<div class="site-wrapper-inner">
			
					<div class="cover-container">
						<div class="inner mainpad cover">
							<img class="img-header" src="/images/octograde5.png">
							<h1 class="cover-heading no-mar">Testing made simple.</h1>
							<p class="lead about-text">Octograde eliminates the hassle involved with creating and administering online tests. Distribute tests to your students in a secure format over multiple devices with the click of a button.</p>
							<p class="lead">
							  <a href="#challenge" class="demoButton">Learn More</a>
							</p>
						</div>
					</div>
			
				</div>
			
			</div>

			<div class="anchorplace" id="challenge"></div>
			<div class="featuresSec1" id="start">
				<div class="featureContainer">
					<div class="featureTitle">
						<h1>Test taking for the modern classroom.</h1>	
					</div>
				
					<div class="textCont TextPad floatR">
						<div class="textContInner">
							<h2>Just Create</h2>
							<p>Organize and manage your tests with ease using Octograde's clean and simple interface. Create tests quickly with an array of features at your disposal.</p>
						</div>
						<br>
						<div class="textContInner">
							<h2>Take Full Control</h2>
							<p>With Live Toggle, teachers can turn tests on and off with the click of a button. Students will see their results when their teachers toggle off the test. Teachers no longer have to create complex date arrangements for makeups or a change in class plans.</p>
						</div>
					</div>
				
					<div class="imageContainer floatL demoImageL hcenter">
						<img class="featImgL" src="/images/featuresStart4.png">
					</div>
				
				</div>
			</div>
          
          	<div class="featuresSec2">
				
          		<div class="featureContainer">
					
					
					<div class="textCont smallFeat TextPad floatL">
						<div class="textContInner floatRTemp cheatClass">
							<h2>Security Built-In</h2>
							<p>Octograde understands the importance of academic honesty, especialy when it comes to online test taking. Octograde provides unparalleled anti-cheat features. Test questions are uniquely ordered for each student to prevent in class cheating and teachers receive immediate notifcation reports of any suspected cheating activity as test results are submitted.</p>
						</div>
					</div>
					
					<div class="imageContainer floatR hcenter">
						<img class="imageL" src="/images/testing123456.png">
					</div>
										
				</div>
				
          	</div>

		  	<div class="featuresSec3">
          	
          		<div class="featureContainer">
					
					
					<div class="textCont smallFeat TextPad floatR">
						<div class="textContInner floatLTemp accessClass">
							<h2>Easy Access</h2>
							<p>All of Octograde’s features are accessible through a simple Google sign-in, whether you are a teacher or a student. If your class already has a gmail setup, your students will be allowed to simply sign in and enter your test codes.</p>
						</div>
					</div>
					
					<div class="imageContainer floatL hcenter">
						<img class="connect" src="/images/connect3.png">
					</div>
										
				</div>
          	
          	</div>
          
          	<div class="featuresSec4">
          		
          		<div class="featureContainer">
					<div class="featureTitle">
						<h2></h2>	
					</div>
				
					<div class="textCont TextPad floatL">
						<div class="textContInner floatRTemp">
							<h2>Rich Text Editor</h2>
							<p>Creating a test has never been more fun. Need to include an image, video, or chart? Our rich text editor has you covered. Other editing features include text bolding, underlining, highlighting, and an entire set of fonts to choose from.</p>
						</div>
					</div>
				
					<div class="imageContainer floatR demoImageR hcenter">
						<img class="featImgR" src="/images/create4.png">
					</div>
				
				</div>
				
          	</div>
          	
          	<div class="featuresSec5">
          		<div class="featureContainer">
					<div class="featureTitle">
						<h2></h2>	
					</div>
				
					<div class="textCont TextPad floatR">
						<div class="textContInner TextPad2 floatLTemp">
							<h2>Quick Review</h2>
							<p>Once teachers toggle the test off, students have access to a simple, yet comprehensive review of their results. The questions will unscramble, allowing teachers to review the answers as a class.</p>
						</div>
					</div>
				
					<div class="imageContainer floatL demoImageL hcenter">
						<img class="featImgL" src="/images/review4.png">
					</div>
				
				</div>
          	
          	</div>
          	
          	<div class="featuresSec6">
          		
          		<div class="featureContainer">
					
					
					<div class="textCont smallFeat TextPad floatL">
						<div class="textContInner floatRTemp freeClass">
							<h2>Free for Teachers</h2>
							<p>Students will be charged $40 for twelve months of Octograde. Professors will never have to pay a penny out of pocket to use our product.</p>
						</div>
					</div>
					
					<div class="imageContainer floatR hcenter">
						<img class="imageL" src="/images/free2.png">
					</div>
										
				</div>
          		
          	</div>
          	
          	<div class="featuresSec7">
          	
          		<div class="featureContainer">
					<div class="featureEnd">
						<h3>Kickstart the future of education.</h3>	
					</div>
					
					<div class="endSignCont">
						<div class="buttonCont">
							<div id="my-signin3"></div>
						</div>
					</div>
				</div>
          	
          	</div>
          	
          	<div class="featuresSec8">
          	
				<div class="footerEnd">
					<h3>&copy; Octograde 2016 &middot; <a href="#">Home Page</a></h3>	
				</div>
          	
          	</div>
          
	<div id="SignUp"></div>        

<div class="text-container">
<div class="modal fade" id="myRegisterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <h2 class="modal-title" id="myModalLabel">Welcome to Octograde, <span id="name"></span></h2>
      </div>
      <div class="modal-body">
        <div class="list-group">
        
		<div class="panel-group" role="tablist" aria-multiselectable="true">

			<div class="panel panel-collapse">
				
				<a class="collapsed list-view-color" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							High School
						</h4>
					</div>
				</a>
				<div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
						<div class="list-view">
							<a href="#" class="list-view-color sign-in-item1 list-view-item" onclick="setType(0, false);">Student</a>
							<br>
							<a href="#" class="list-view-color sign-in-item2 list-view-item" onclick="setType(1, false);">Teacher</a>
						</div>	
					</div>
				</div>

			</div>

			<div class="panel panel-collapse">
				
				<a class="collapsed list-view-color" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
							Higher Education
						</h4>
					</div>
				</a>
				<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
					<div class="panel-body">
						<div class="list-view">
							<a href="#" class="list-view-color sign-in-item1 list-view-item" onclick="setType(0, true);">Student</a>
							<br>
							<a href="#" class="list-view-color sign-in-item2 list-view-item" onclick="setType(1, false);">Teacher</a>
						</div>
					</div>
				</div>
			</div>              

            	</div>

	</div>
      </div>
    </div>
  </div>
</div>
</div>

			<div class="modal fade" id="myStudentRegisterModal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-mar modal-sm">
					<div class="modal-content modal-rad'r">
						<div class="modal-header modal-top-back">
							<img class="paymentImage" src="/images/octograde5.png">
							<h4 class="modal-title">Octograde</h4>
						</div>
						<div class="modal-body modal-body-back">
							
							<div class="paymentContainer">
							
								<form action="" method="POST" id="payment-form">
									<span class="payment-errors"></span>
									
									<div class="modal-pay-text">
										<p>$4/month billed annually</p>
									</div>

									<div class="form-row cardInput">
										<input class="paymentInput input1" placeholder="Card number" type="text" data-stripe="number"/>
									</div>

									<div class="form-row">	
										<input class="paymentInput input2" placeholder="CVC" type="text" data-stripe="cvc"/>
										<input class="paymentInput input3" placeholder="MM" type="text" data-stripe="exp-month"/>
										<input class="paymentInput input4" placeholder="YYYY" type="text" data-stripe="exp-year"/>
									</div>
									
									<div class="modal-pay-text2">
										<p>Payment is processed with Stripe</p>										
										<a class="tooltipStripe" href="https://stripe.com" target="_newtab"><i class="fa fa-lg modal-pay-icon fa-info-circle"></i><span>We use <b>Stripe</b> to securely store your payment info for quick checkout on this site and others.</span></a>
									</div>

									<button class="paymentSubmit" type="submit">Confirm</button>
								</form>
								
							</div>
							
						</div>
					</div>
				</div>
			</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton2" defer></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="/js/library.js"></script>

	<script>
	Stripe.setPublishableKey('pk_test_oh7pEm055io8iHNYk0W25gb8');
   
	var stripeResponseHandler = function(status, response)
	{
        	var $form = $('#payment-form');
        	if (response.error)
        	{
                	// Show the errors on the form
                	$form.find('.payment-errors').text(response.error.message);
                	$form.find('button').prop('disabled', false);
        	}
        	else
        	{
                	// token contains id, last4, and card type
                	var token = response.id;
                	// Insert the token into the form so it gets submitted to the server
                	$form.append($('<input type="hidden" name="stripeToken" />').val(token));
                	// Insert student email into the form
                	$form.append($('<input type="hidden" name="email" />').val(window.email));
                	// and re-submit
                	$form.get(0).submit();

                	// redirect to dash
                	window.location = window.appUrl + "student"
        	}
	};
   
	jQuery(function($)
	{
        	$('#payment-form').submit(function(e)
        	{
                	var $form = $(this);
                	// Disable the submit button to prevent repeated clicks
                	$form.find('button').prop('disabled', true);
                	Stripe.card.createToken($form, stripeResponseHandler);
                	// Prevent the form from submitting with the default action
                	return false;
        	});
	});
	</script>

  </body>
</html>
