<section id="main">

            <section id="content">
                <div class="container">

                    <div class="row">
			
<h1>Privacy</h1>
<p>Effective January 1 2016</p>
<p>Octograde Privacy Policy for your personal use</p>
<p>
Octograde (Octograde) respects your privacy and realizes that trust is the foundation of our relationship with you. This Privacy Policy describes the information we collect about you, how it is used, and with whom we may or may not share it. We also offer you options regarding your privacy choices more fully described below.
</p>
<p>
This Privacy Policy only covers the Octograde website along with any and all related pages on octograde.com. We are not responsible for the privacy practices on any website other than octograde.com. For example, we do not exercise control over the sites that appear as search results when you use the Octograde website. When you leave the Octograde website, we encourage you to carefully review the privacy policies on all other websites that you visit.
</p>
<h2>Information we collect from you</h2>
<p>
Octograde uses Google Analytics and Mixpanel to track user actions and other valuable information regarding our users to further the benefits Octograde has on teacher and student experiences. For further information about the information Google Analytics and Mixpanel collect, we encourage you to visit their policies on their respective websites. Octograde uses the Google API to sign in users. The information we collect from you regarding the API is a visible on signing up. This policy is also avaliable on the Google website.  
</p>
<h2>Changes to our policy</h2>
<p>
Octograde may update this Privacy Policy from time to time. We will notify you about significant changes in the way we treat your personal information by sending a notice to the primary email address you have specified or by placing a prominent notice on the Octograde website.
</p>
<h2>Contact information</h2>
<p>
Contact us at octograde.com@gmail.com for any additional information or questions about our Privacy Policy.
</p>
                    </div>
                </div>
            </section>
        </section>

        <footer id="footer">
            Copyright &copy; 2016 Octograde
        </footer>

    </body>
  </html>
