<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Octograde - Take Test</title>
        
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

        <!-- Vendor CSS -->
        <link href="css/fullcalendar.min.css" rel="stylesheet">
        <link href="css/animate.min.css" rel="stylesheet">
        <link href="css/material-design-iconic-font.min.css" rel="stylesheet">
        
        
            
        <!-- CSS -->
        <link href="css/app.min.1.css" rel="stylesheet">
        <link href="css/app.min.2.css" rel="stylesheet">
        
    </head>
    
    <body>
        <header id="header">
            
        	<div class="header-centered" style="margin-left:10%;">
            <ul class="header-inner">
            
                <li class="logo hidden-xs">
                    <a href="index.html">Octograde</a>
                </li>
                <div id="navbar" class="collapse navbar-collapse">
          			<ul class="nav navbar-nav">
            			<li><a href="../Dash2/StudentDash2.html">Dash</a></li>
            			<li class="active"><a href="#">Take Test</a></li>
          			</ul>
        		</div><!--/.nav-collapse -->
                
            </ul>
            </div><!-- centered -->
            
            <!-- Top Search Content -->
            <div id="top-search-wrap">
                <input type="text">
                <i id="top-search-close">&times;</i>
            </div>
        </header>
        
        <section id="main">
            
            <section id="content">
                <div class="container">
                    
					<div class="jumbotron" style="box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);">
						<h1>Take a test!</h1>
						<p>Enter the test key that your teacher gave you so you can take a test. Good luck!</p>
					</div>
                    
                    <div class="card">
                    	
                    	
                    	
                    	<div class="card-header">
                    
                    		<div class="alert alert-danger" role="alert">Be honest! We have anti-cheat technology that will end your test and notify your teacher whenever you attempt to cheat.</div>
                
                    	</div>
                    
                    </div>
                    
                    <div class="card">
                    	
                    	<div class="card-header">
                            <h2>Test Key<small>Put the test key in here and begin your test!</small></h2>
                        </div>
                    	
                    	<div class="card-body card-padding">
						
							<div class="form-group">
								<div class="fg-line">
									<input type="text" class="form-control input-lg" placeholder="Test Key">
								</div>
							</div>	
						
						</div>
						
                    </div>
                    
                    <button style="margin-left: calc(50% - 100px); width: 200px;" class="btn btn-default btn-icon-text">Continue <i class="zmdi zmdi-arrow-forward"></i></button>
                    
                    
                    <!--<div class="row">
                        <div class="col-sm-12">
                            Taken Tests
                        </div>

                    </div>-->
                </div>
            </section>
        </section>
        
        <footer id="footer">
            Copyright &copy; 2015 Octograde
            
            <!--<ul class="f-menu">
                <li><a href="">Home</a></li>
                <li><a href="">Dashboard</a></li>
                <li><a href="">Reports</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Contact</a></li>
            </ul>-->
        </footer>
        


        <!-- Javascript Libraries -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        
        <script src="js/moment.min.js"></script>
        <script src="js/fullcalendar.min.js "></script>
        <script src="js/bootstrap-growl.min.js"></script>
        <script src="js/functions.js"></script>

        
    </body>
  </html>