<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Octograde - Test View</title>
        
        <link href="/css/octograde1.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        
    </head>
    
    <body>
        <header id="header">
            
            <div class="headerContainer">
				<div class="col-sm-4" style="height: 100%;">
					<div class="navLeft vCenter oShow">
						<span id="time"></span>
					</div>
				</div>
				<center><div class="col-sm-4 oShow">
            		<div class="logo">Octograde</div>
            	</div></center>
				
            	<div class="col-sm-4 vCenter oShow">
					<div class="navRight">
						<a href="/student" data-toggle="tooltip" data-placement="bottom" title="Finish Test"><i class="fa fa-chevron-right fa-2x"></i></a>
					</div>
				</div>
				
            </div>
            
        </header>
        
        <section id="main">
            <section class="myContent">
                <div class="testContainer">
			<div class="row">
						<div class="col-sm-6">
							<div class="card testCard">
								<div class="card-header ch-alt">
									<h2>Question 1</h2>
								</div>
								<div class="card-body card-padding">
									<p class="lead">The narrator would most likely describe Mr. Pontellier's conduct during the evening as<br><br>	It was eleven o'clock that night
					when Mr. Pontellier returned from
					his night out. He was in an excellent
					humor, in high spirits, and very
					talkative. His entrance awoke his
					wife, who was in bed and fast asleep
					when he came in. He talked to her
					while he undressed, telling her
					anecdotes and bits of news and
					gossip that he had gathered during
					the day. She was overcome with
					sleep, and answered him with little
					half utterances.
						<br>	He thought it very discouraging
					that his wife, who was the sole
					object of his existence, evinced so
					little interest in things which
					concerned him and valued so little
					his conversation.
						<br>	Mr. Pontellier had forgotten the
					bonbons and peanuts that he had
					promised the boys. Notwithstanding,
					he loved them very much and went
					into the adjoining room where they
					slept to take a look at them and
					make sure that they were resting
					comfortably. The result of his
					investigation was far from
					satisfactory. He turned and shifted
					the youngsters about in bed. One of
					them began to kick and talk about a
					basket full of crabs.
						<br>	Mr. Pontellier returned to his
					wife with the information that Raoul
					had a high fever and needed looking
					after. Then he lit his cigar and went
					and sat near the open door to smoke
					it.
						<br>	Mrs. Pontellier was quite sure 
					Raoul had no fever. He had gone to
					bed perfectly well, she said, and
					nothing had ailed him all day. Mr.
					Pontellier was too well acquainted
					with fever symptoms to be mistaken.
					He assured her the child was burning
					with fever at that moment in the
					next room.
						<br>	He reproached his wife with her
					inattention, her habitual neglect of
					the children. If it was not a mother's
					place to look after children, whose
					on earth was it? He himself had his
					hands full with his brokerage
					business. He could not be in two
					places at once; making a living for
					his family on the street, and staying
					home to see that no harm befell
					them. He talked in a monotonous,
					insistent way.
						<br>	Mrs. Pontellier sprang out of bed
					and went into the next room. She
					soon came back and sat on the edge
					of the bed, leaning her head down on
					the pillow. She said nothing, and
					refused to answer her husband when
					he questioned her. When his cigar
					was smoked out he went to bed, and
					in half a minute was fast asleep.
						<br>	Mrs. Pontellier was by that time
					thoroughly awake. She began to cry
					a little, and wiped her eyes on the
					sleeve of her nightgown. She went
					out on the porch, where she sat
					down in the wicker chair and began
					to rock gently to and fro.
						<br>	It was then past midnight. The
					cottages were all dark. There was
					no sound abroad except the hooting
					of an old owl and the everlasting
					voice of the sea, that broke like a
					mournful lullaby upon the night.
						<br>	The tears came so fast to Mrs.
					Pontellier's eyes that the damp
					sleeve of her nightgown no longer
					served to dry them. She went on
					crying there, not caring any longer
					to dry her face, her eyes, her arms.
					She could not have told why she was
					crying. Such experiences as the
					foregoing were not uncommon in her
					married life. They seemed never
					before to have weighed much
					against the abundance of her
					husband's kindness and a uniform
					devotion which had come to be tacit
					and self-understood.
						<br>	An indescribable oppression,
					which seemed to generate in some
					unfamiliar part of her consciousness,
					filled her whole being with a vague
					anguish. It was like a shadow, like a
					mist passing across her soul's
					summer day. It was strange and
					unfamiliar; it was a mood. She did
					not sit there inwardly upbraiding her
					husband, lamenting at Fate, which
					had directed her footsteps to the path
					which they had taken. She was just
					having a good cry all to herself. The
					mosquitoes succeeded in dispelling a
					mood which might have held her
					there in the darkness half a night
					longer.
						<br>	The following morning Mr.
					Pontellier was up in good time to
					take the carriage which was to
					convey him to the steamer at the
					wharf. He was returning to the city
					to his business, and they would not
					see him again at the Island till the
					coming Saturday. He had regained
					his composure, which seemed to
					have been somewhat impaired the
					night before. He was eager to be
					gone, as he looked forward to
					a lively week in the financial center.</h4>
								</div>
							</div>
						</div>
	
						<div class="col-sm-6">
							<div class="card testCard">
								<div class="card-header ch-alt">
									<h2>Answers</h2>
								</div>
								<div class="card-body card-padding">
									<div class="radio m-b-15 answerBor">
										<label class="answerLabel">
											<input type="radio" name="sample" value="">
											<i class="input-helper"></i>
											Typically generous
										</label>
									</div>
		
									<div class="radio m-b-15 answerBor">
										<label class="answerLabel">
											<input type="radio" name="sample" value="">
											<i class="input-helper"></i>
											Justifiably impatient
										</label>
									</div>
				
									<div class="radio m-b-15 answerBor">
										<label class="answerLabel">
											<input type="radio" name="sample" value="">
											<i class="input-helper"></i>
											Passionate and irrational
										</label>
									</div>
				
									<div class="radio m-b-15 answerBor">
										<label class="answerLabel">
											<input type="radio" name="sample" value="">
											<i class="input-helper"></i>
											Patronizing and self-centered
										</label>
									</div>
				
									<div class="radio m-b-15 answerBor">
										<label class="answerLabel">
											<input type="radio" name="sample" value="">
											<i class="input-helper"></i>
											Concerned and gentle
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>		    
                </div>
           </div> 
	</div>
            </section>
        </section>
        
        <footer class="myFooter">
				
				<center>
					<div class="col-sm-12">
						<nav>
						
							<ul class="pagination">
								<li>
							  	<a href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
							  	</a>
								</li>
						  	</ul>
						  	
						  	<ul class="pagination qOver">
								<li class="qActive"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li><a href="#">7</a></li>
								<li><a href="#">8</a></li>
								<li><a href="#">9</a></li>
								<li><a href="#">10</a></li>
								<li><a href="#">11</a></li>
								<li><a href="#">12</a></li>
								<li><a href="#">13</a></li>
								<li><a href="#">14</a></li>
								<li><a href="#">15</a></li>
								<li><a href="#">16</a></li>
								<li><a href="#">17</a></li>
								<li><a href="#">18</a></li>
								<li><a href="#">19</a></li>
								<li><a href="#">20</a></li>
								<li><a href="#">21</a></li>
								<li><a href="#">22</a></li>
								<li><a href="#">23</a></li>
								<li><a href="#">24</a></li>
								<li><a href="#">25</a></li>
								<li><a href="#">26</a></li>
								<li><a href="#">27</a></li>
								<li><a href="#">28</a></li>
								<li><a href="#">29</a></li>
								<li><a href="#">30</a></li>
								<li><a href="#">31</a></li>
								<li><a href="#">32</a></li>
								<li><a href="#">33</a></li>
								<li><a href="#">34</a></li>
								<li><a href="#">35</a></li>
								<li><a href="#">36</a></li>
								<li><a href="#">37</a></li>
								<li><a href="#">38</a></li>
								<li><a href="#">39</a></li>
								<li><a href="#">40</a></li>
								<li><a href="#">41</a></li>
								<li><a href="#">42</a></li>
								<li><a href="#">43</a></li>
								<li><a href="#">44</a></li>
								<li><a href="#">45</a></li>
								<li><a href="#">46</a></li>
								<li><a href="#">47</a></li>
								<li><a href="#">48</a></li>
								<li><a href="#">49</a></li>
								<li><a href="#">50</a></li>
						  	</ul>
						  	<ul class="pagination">
							  	<li>
							  	<a href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
							  	</a>
								</li>
						  	</ul>
						</nav>
					</div>
            	</center>
            
        </footer>

	<!-- Modal Anti-Cheat -->
	<div class="modal fade" id="modalAntiCheat" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<center><h1 class="modal-title red">You Failed!</h1></center>
				</div>
				<div class="modal-body">
					<center><p>You have left your window. Your teacher will be notified that you have attempted to leave your test. Your test is now closed.</p></center>
				</div>
				<div class="modal-footer">
					<center><button type="button" class="btn btn-link" data-dismiss="modal">Close</button></center>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Start -->
	<div class="modal fade" id="modalStartTest" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                        <div class="modal-content">
                                <div class="modal-header">
                                        <center><h1 class="modal-title">Start Test</h1></center>
                                </div>
                                <div class="modal-body">
                                        <center><p>Agreement</p></center>
                                </div>
                                <div class="modal-footer">
                                        <center><button type="button" class="btn btn-link" onclick="beginTest();" data-dismiss="modal">Start Test</button></center>
                                </div>
                        </div>
                </div>
        </div>

	<!-- Javascript Libraries -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
	<script src="/js/library.js"></script>

	<script>
	$(document).ready(function()
	{
		testOnload();
	});
	</script>

	<!--
	<script>
	function startTimer(duration, display) 
	{
    		var timer = duration, minutes, seconds;
    		setInterval(function () 
		{
       			minutes = parseInt(timer / 60, 10);
        		seconds = parseInt(timer % 60, 10);

        		minutes = minutes < 10 ? "0" + minutes : minutes;
        		seconds = seconds < 10 ? "0" + seconds : seconds;

        		display.textContent = minutes + ":" + seconds;

        		if (--timer < 0) 
			{
            			timer = duration;
        		}
    		}, 1000);
	}

	window.onload = function () 
	{
		//$("#modalStartTest").show();

    		var numMinutes = 60 * 50,
        	display = document.querySelector('#time');
    		startTimer(numMinutes, display);
		//launchIntoFullscreen(document.documentElement);

		//alert(test.test);
		//send get for test credentials
		getTest();
	};
	function addEvent(obj, evt, fn) 
	{
    		if (obj.addEventListener) 
		{
        		obj.addEventListener(evt, fn, false);
    		}
    		else if (obj.attachEvent) 
		{
        		obj.attachEvent("on" + evt, fn);
    		}
	}
	addEvent(window,"load",function(e) 
	{
    		addEvent(document, "mouseout", function(e) 
		{
        		e = e ? e : window.event;
        		var from = e.relatedTarget || e.toElement;
        		if (!from || from.nodeName == "HTML") 
			{
            			//alert("left window");
				$('#modalDefault').modal('show');
        		}
    		});
	});
	</script>
	-->
        
    </body>
</html>
